.rt{
    display: block;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    margin-bottom: 20px;
}

.ty{
    border: 1px solid rgb(226, 226, 226);

}

.contemtn{
    margin-left: 15px;
}

.btn{
  margin: 0 0 0 80rem;
  position: absolute;
  cursor: pointer;
  background: lightcoral;
  border: none;
  padding: 10px;
  color: aliceblue;
  border-radius: 5px;
}

.t{
  margin: 0  30px 0 30px ;
}

h4{
  margin: 0;
  margin-top: 25px;
  padding: 0;
}
